@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap");
.App {
  margin: 0;
  max-width: 100vw;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}
